@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
*{ 
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}
.navbar ul{
    list-style-type:none;
    background-color: #ede9e7;
    padding:0%;
    margin: 0%;
    overflow:hidden;
}
.navbar a{
    color: #b44715;
    text-decoration: none;
    padding: 20px;
    display:grid;
    text-align: center;
}
.navbar a:hover{
    background-color: #db8c68;
}
.navbar li{
    float:right;
}
header{
    text-align: left;
    background-color: #ede9e7;
    color: #b44715;
    font-family:"Lora", serif;
    padding: 1rem;
    font-size: 10px;
}
body{
    background-color: #ebe9e7;
    font-family:"Lora", serif;
    color: #b44715;
}
main{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.a
section{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 200px;
}
.botao{
    display: inline-block; 
    padding: 3px; 
    color: #b44715; 
    text-align: center; 
    text-decoration: none; 
    font-size: 1rem;
    transition: background-color 0.3s; 
}

.botao:hover {
    background-color:#db8c68 
}
table{
    width: 70%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
th{
    background-color:#db8c68
}
